Problems
- check makes (relinking)


PID-> process id

Launch server first, must print its PID

	client(server PID, STRING TO SEND)
	send the string to the server
	the server must print it

	The server must display the string without delay. If it seems slow, it is likely too
	slow.

	Your server should be able to receive strings from several clients in a row without
	needing to restart.
• Communication between the client and server must exclusively use UNIX signals.
• You can only use these two signals: SIGUSR1 and SIGUSR2.



sigsev - segfalut of signal

write
◦ ft_printf or any equivalent YOU coded
◦ signal
◦ sigemptyset
◦ sigaddset
◦ sigaction
◦ kill
◦ getpid
◦ malloc
◦ free
◦ pause
◦ sleep
◦ usleep
◦ exit		


quando faco ls no terminal

o processo shell vai criar um novo processo(fork())
esse processo e um processo filho para dar exec(ls)
o ls roda , imprime o output e termina
o shell(processo-pai) vai dar wait() que o ls termine e continua

um signal no unix e uma forma de comunicao asincrona entre processos. ele serve para avisar um processo de que algo aconteceu, podendo ser um temine agr ou os
sinais SIGUSR1 E SIGUSR2
	um sinal e um inteiro predefinido enviado de um processo para outro (ou pra ele mesmo)

	quando um processo recebe um signal, o kernel interrompe a sua execucao e:
		executa um handler(funcao q lida com sinais), se tiver definido
		ou realiza acao padrao(por exemplo, terminar o processo)

		SIGUSR1- BIT 0
		SIGUSR2 - BIT 1

		SIGNAL(SIGUSR1, handler_SIGURS1(